.tareas-pendientes {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
