/* .taskHome-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
  p {
    margin: 0;
  }

  .taskHome-container-calendar {
    display: flex;

    .taskHome-container-day {
      margin: 0 10px;
      width: 150px;

      h2 {
        font-size: 20px;
      }

      .taskHome-container-day-hours {
        border: 1px solid black;
        padding: 5px;

        p {
          color: gray;
          font-size: 12px;
        }
      }
      .taskHome-container-btn {
        button {
          font-size: 12px;
        }
      }
    }
  }
} */

/* Cuando esta abierto el creador de tareas */

/* .taskHome-container {
  padding: 20px;
  display: flex;
  p {
    margin: 0;
  }

  .taskHome-container-calendar {
    display: flex;
    width: 100px;

    .taskHome-container-day {
      margin: 0 5px;
      padding: 0;
      h2 {
        font-size: 20px;
      }
      .taskHome-container-day-hours {
        border: 1px solid black;
        padding: 2px;
        width: 165px;
        .taskHome-day-activity-container {
          display: grid;
          grid-template-columns: 15% 85%;
          height: 25px;
          p {
            grid-column: 1;
            color: gray;
            font-size: 12px;
            margin: auto 0;
          }
          .taskHome-day-activity {
            grid-column: 2;
            display: grid;
            grid-template-columns: 75% 25%;
            width: 100%;
            p {
              grid-column: 1;
              padding-left: 5px;
              text-transform: capitalize;
              color: black;
            }
            .taskHome-day-activity-icons {
              grid-column: 2;
              display: flex;
              margin: auto 0;

              svg {
                cursor: pointer;
              }
            }
          }
        }
      }
      .taskHome-container-btn {
        button {
          font-size: 12px;
        }
      }
    }
  }

} */

.taskHome-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 20px 50px 50px;

  .taskHome-weekdays {
    text-align: center;
    display: flex;
    justify-content: center;

    p {
      margin: 0;
    }

    .taskHome-weekdays-item {
      border: 0.5px solid black;
      width: 150px;
      background-color: yellow;
    }
  }

  .taskHome-calendar-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 1050px;
    margin: auto;
    .taskHome-calendar-item {
      display: grid;
      grid-template-rows: 10% 65% 25%;
      border: 1px dotted black;
      height: 150px;
      width: 150px;
      padding: 5px;

      p {
        margin: 0;
        font-size: 12px;
      }
      div {
        height: fit-content;
      }

      .taskHome-calendar-item-date {
        grid-row: 1;
        text-align: center;
      }
      .taskHome-calendar-item-tasks {
        grid-row: 2;
      }
      .taskHome-container-btn {
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-self: end;
        button {
          font-size: 10px;
        }
      }
    }
  }
}
